@charset "utf-8";
/* CSS Document */

body{
font: 14px/1.6 "Hiragino Kaku Gothic Pro",Osaka,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,Arial,sans-serif;
margin:0;
color:#313131;
}

img{
outline:none;
border-style:none;
}

a{
    color: blue;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
a:visited{
    color: blue;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
a:hover {
    color: orange;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

iframe {
    border:0;
    width:100%;
    height:100%;
}

/*****HEADER*****/
header{
    display: block;
    width:60%;
    margin-left: 20%;
    overflow: hidden;
}
header h1{
    font-size:120%;
    color:navy;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border:1px solid #313131;
    border-radius: 5px;
    letter-spacing: 3px;
    font-weight:400;
    float: left;
}
header a {
    color: navy;
    text-decoration: none;
}
header a:visited {
    color: navy;
    text-decoration: none;
}
header a:hover {
    color: navy;
    text-decoration: none;
}
header p{
    font-size:100%;
    color:#313131;
    float: left;
}

/*****BRANDING*****/
#branding{
    display: block;
    width: 60%;
    margin-left: 20%;
    overflow: hidden;
    background-color: #313131;
    margin-bottom: 20px;
}
#branding a{
    color: orange;
    font-size: 80%;
    letter-spacing: 2px;
}
#branding h1{
    color: #fff;
    font-size: 130%;
    padding-left: 3%;
    letter-spacing: 5px;
    line-height: 50px;
}
#branding h3{
    color: #fff;
    font-size: 110%;
    padding-left: 3%;
    letter-spacing: 3px;
    line-height: 20px;
}
#branding p{
    color: #fff;
    font-size: 100%;
    padding-left: 3%;
    padding-right: 3%;
    letter-spacing: 0px;
    line-height: 18px;
    word-wrap: break-word;
}

/*****TEXT*****/
#txt{
    width: 60%;
    margin-left: 20%;
}

/*****NAV*****/
#global-nav{
    width: 100%;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    margin-bottom: 10px;
    overflow: hidden;
}
#global-nav ul{
    width: 60%;
    margin-top: 0px;
    margin-left: 20%;
    list-style: none;
    padding-left: 0;
}
#global-nav li{
    width: calc(25% - 2px);
    font-size: 110%;
    letter-spacing: 5px;
    font-weight: 400;
    line-height: 45px;
    border-left: 1px solid orange;
    color: #313131;
    cursor: pointer;
    text-align: center;
    float: left;
}

#global-nav li:last-child{
    border-right: 1px solid orange;
}

#global-nav li:hover{
    background-color: orange;
    transition: background-color 0.5s ease-out;
    color: #fff;
}

#global-nav a{
    color: navy;
    text-decoration: none;
}
#global-nav a:visited{
    color: navy;
    text-decoration: none;
}
#global-nav a:hover{
    color: navy;
    text-decoration: none;
}

/*****ARTICLE*****/
article{
    display: -webkit-box; /*Android4.3*/
    display: -moz-box;    /*Firefox21*/
    display: -ms-flexbox; /*IE10*/
    display: -webkit-flex; /*PC-Safari,iOS8.4*/
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 20px;
    overflow: hidden;
}
section{
    width: 42%;
    padding: 2.5%;
    margin: 1.5%;
    background-color: #f9f9f9;
    overflow: hidden;
    float: left;
}
section .date{
    font-size: 60%;
    color: orange;
    border: 1px solid orange;
    padding-top:3px;
    padding-bottom: 3px;
    padding-right: 6px;
    padding-left: 6px;
    letter-spacing: 5px;
    float: left;
}
section h1{
    width: 100%;
    font-size: 140%;
    letter-spacing: 3px;
    padding-bottom:2px;
    padding-top: 10px;
    border-bottom: 1px solid #bababa;
    margin-bottom: 15px;
    float: left;
}
section p{
    font-size: 100%;
    color: #313131;
    letter-spacing: 1px;
    line-height: 200%;
    margin-bottom: 10px;
    float: left;
}

.btn{
    color: #fff;
    border: 1px solid orange;
    background-color: orange;
    font-size: 110%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 5px;
    letter-spacing: 5px;
    text-decoration: none;
    overflow: hidden;
    float: right;
}
.btn:hover{
    background-color: #fff;
    border: 1px solid orange;
    transition: background-color 0.5s ease-out;
    transition: color 0.5s ease-out;
    transition: border 0.5s ease-out;
    color: orange;
    overflow: hidden;
}
.btn a:visited{
    color: #fff;
}

/*****FOOTER*****/
footer{
    font-size: 70%;
    width: 100%;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #313131;
}
footer small{
    color: #fff;
    letter-spacing: 2px;
}

/*****TIPS*****/
#tipsmenu{
    width: 200px;
    margin-left: calc(25% - 140px);
    margin-right: 20px;
}

#tipsmenu nav{
    font-size:80%;
    color:#313131;
    width: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border:1px solid #313131;
    border-radius: 5px;
    float: left;
}

#tipsmenu h3{
    letter-spacing: 3px;
}

#tipsmenu ul{
    margin-left: 3px;
    padding-left: 3px;
    letter-spacing: 1px;
}

#tipsmenu li{
    margin-left: 3px;
    padding-left: 3px;
}
    
#gfm{
    width: 50%;
    margin-top: 0px;
}

/*****BOXSTRUCTURE*****/
.box {
    float: left;
}

.centeredbox {
    margin-left: 25%;
}

.container {
    overflow: hidden;
}

.container:before, .container:after {
    content: "";
    display: table;
}
 
.container:after {
    clear: both;
}

.container {
    zoom: 1;
}
